/*COLORS*/
:root {
	--Soft-red: hsl(7, 99%, 70%);
	--Yellow: hsl(51, 100%, 49%);
	--Dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text)*/
	--Dark-blue: hsl(198, 62%, 26%); /*(photography text)*/
	--Dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer)*/
	--light-moderate-cyan: hsl(173, 62%, 71%); /* (footer background)*/

	--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--Very-dark-grayish-blue: hsl(213, 9%, 39%);
	--Dark-grayish-blue: hsl(232, 10%, 55%);
	--Grayish-blue: hsl(210, 4%, 67%);
	--White: hsl(0, 0%, 100%);
}
/* FONTS */
@font-face {
	font-family: Barlow-Semi-Bold;
	src: url(./Assets/Fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf);
}
@font-face {
	font-family: Barlow-Extra-Bold;
	src: url(./Assets/Fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraBold.ttf);
}
@font-face {
	font-family: Fraunces-Bold;
	src: url(./Assets/Fonts/Fraunces/static/Fraunces_144pt-Bold.ttf);
}
@font-face {
	font-family: Fraunces-Black;
	src: url(./Assets/Fonts/Fraunces/static/Fraunces_144pt-Black.ttf);
}
/* STYLES */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;

	/* font-size: 112.5%; */
	/* @media only screen and (max-width: 50em) {
		font-size: 100%;
	}
	@media only screen and (max-width: 37.5em) {
		font-size: 62.5%;
	} */
}
body {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;

	box-sizing: inherit;
	/* 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; */

	display: grid;
	grid-template-rows: max-content 2fr max-content max-content;
}

/* HEADER STYLES */
/*DESKTOp */
.header {
	/* background-color: red; */
	position: relative;
}
.header__img {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	/* top: 0;
	left: 0; */
}
.header__img img {
	width: 100%;
}
.header__menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 5rem;

	color: #fff;
	font-family: Barlow-Semi-Bold;
	font-size: 2.25rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.header__menu__content {
	width: 100%;
	margin-bottom: 8rem;

	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}
.header__menu__content > *:first-child {
	margin-right: auto;
}
.header__logo {
	font-size: 4.5rem;
	text-decoration: solid;
}
.header__nav {
	/* width: 40%; */
	text-transform: capitalize;
}
.header__nav ul {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;

	list-style: none;
	width: 100%;
}
.header__nav ul > *:last-child {
	background-color: #fff;
	padding: 1.8rem 3.6rem;
	border-radius: 50rem;
	color: var(--Very-dark-desaturated-blue);
	font-family: Fraunces-Black;
	text-transform: uppercase;
}
.header__nav ul > *:not(:last-child) {
	margin-right: 2rem;
}

.header__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.header__title > *:first-child {
	margin-bottom: auto;
}

.header__title h1 {
	font-family: Fraunces-Black;
	font-size: 4.5rem;
	/* word-spacing: 1.25rem; */
	letter-spacing: 1.8rem;
	text-transform: uppercase;
	padding: 2rem;
}
.header__title img {
	padding: 2.25rem;
}
/* MOBILE */
.mobile__menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;

	width: 95%;
	height: 70%;
	top: 9%;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	margin-right: 10%;
}
.mobile__nav {
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */

	position: relative;
	width: 90%;
	max-width: 90%;
	height: 80%;
	color: black;

	z-index: 2;

	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* .mobile__nav__icon {
	align-self: flex-end;
	margin-right: 5%;
} */
.mobile__nav::before {
	content: "";
	background-image: linear-gradient(
		to top left,
		#fff 50%,
		transparent 50%,
		transparent
	);
	width: 10%;
	height: 10%;

	/* transform: translate(); */
	position: absolute;
	/* position: relative; */
	top: -8%;
	right: 0;
}

.mobile__nav__links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.mobile__nav__links > * {
	list-style: none;
	text-align: center;
	width: 100%;
	color: var(--Dark-moderate-cyan);
}
.mobile__nav__links > *:not(:last-child) {
	margin-bottom: 3rem;
}
.mobile__nav__links > *:last-child {
	background-color: var(--Yellow);
	padding: 1.8rem 3.6rem;
	border-radius: 50rem;
	color: var(--Very-dark-desaturated-blue);
	font-family: Fraunces-Black;
	text-transform: uppercase;
}
/* SERVICES STYLES */
.services {
	/* background-color: blue; */
	/* height: min-content; */

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.services p {
	font-size: 2rem;
}
.services__item {
	position: relative;
	width: 100%;
}
.services__item img {
	height: 100%;
	width: 100%;
}
.services__item-detail {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	width: 50%;
	/* height: 20%; */
	position: absolute;
	text-align: center;
	bottom: 25%;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: 2;
}
.services__item-detail > *:first-child {
	margin-bottom: 2rem;
	font-size: 3.5rem;
	font-family: Fraunces-Black;
}
.services__item-detail > p {
	font-family: Barlow-Semi-Bold;
	line-height: 3.5rem;
}
.photography {
	color: var(--Dark-blue);
}
.graphic-design {
	color: var(--Dark-desaturated-cyan);
}
.text-item {
	display: flex;
	/* align-items: center;
 */
	justify-content: center;
	margin-top: 10%;
}
.text-item__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	width: 70%;
	height: 50%;
}
.text-item__content h1 {
	font-size: 6rem;
	font-family: Fraunces-Bold;
	@media only screen and (max-width: 37.5em) {
		font-size: 4rem;
	}
}
.text-item__content p {
	font-family: Barlow-Semi-Bold;
	color: var(--Dark-grayish-blue);
	line-height: 3.5rem;
	font-size: 2rem;
}
.text-item__content a {
	font-size: 1.8rem;
	text-transform: uppercase;
	text-decoration: none;
	/* text-decoration: underline solid red 7px; */

	margin-top: 5rem;
	margin-bottom: 2.5rem;
	color: var(--Very-dark-desaturated-blue);
	font-weight: 900;
	font-family: Fraunces-Black;

	/* padding: 0 1rem;
		border-bottom: 4px solid red; */
	/* text-shadow: inset red;
		 */
	box-shadow: 3px 3px red, -1em 3px 0.4em olive;
}
/* TESTIMONIALS STYLES */
.testimonials {
	background-color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 4rem 0;
	text-align: center;
}
.testimonials p {
	font-size: 2rem;
}
.testimonials__title {
	font-family: Fraunces-Black;
	font-size: 2.25rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: var(--Grayish-blue);
	/* margin-bottom: 9rem; */
}
.testimonial__profile-container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	/* flex-wrap:wrap; */

	width: 80%;
	/* height: 60%; */
	margin-top: 6rem;

	/* & > *:not(:last-child) {
		margin-right: 4.5rem;
	} */
	/* & > * {
		flex-basis:30%;
	} */
}
.testimonial__profile-container > * {
	width: 30%;
}

.testimonial__profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	width: 100%;

	padding: 4rem;
}
.testimonial__profile > *:not(:last-child),
.testimonial__profile > *:not(:first-child) {
	margin: 2.5rem 0;
}

.testimonial__profile__img {
	width: 30%;
	border-radius: 50%;
	vertical-align: top;
}
.testimonial__profile__info {
	font-family: Barlow-Semi-Bold;
	color: var(--Dark-grayish-blue);
	line-height: 3.375rem;
	font-size: 2.25rem;
	height: 40%;
}
.testimonial__profile__details {
	font-family: Barlow-Semi-Bold;
	color: var(--Grayish-blue);
	vertical-align: bottom;
}
.testimonial__profile__details > *:first-child {
	font-family: Fraunces-Black;
	font-size: 2.25rem;
	margin-bottom: 2.25rem;
	color: var(--Very-dark-desaturated-blue);
}
/* FOOTER STYLES */
.footer {
	/* display: grid;
	grid-template-rows: 1.5fr 1fr; */

	background-color: var(--Dark-moderate-cyan);
	color: var(--Dark-moderate-cyan);
	width: 100%;
}
.footer__pictures {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
}
.footer__pictures > img {
	width: 100%;
	height: 100%;
}

.footer__logo {
	font-size: 4rem;
	font-stretch: expanded;
	font-family: Barlow-Extra-Bold;
	/* color: var(--Very-dark-desaturated-blue); */
	/* margin-bottom: 2.5rem; */
}
.footer__content {
	background-color: var(--light-moderate-cyan);
	padding: 3rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.footer__content > *:not(:last-child) {
	margin-bottom: 3rem;
}
/* .footer__nav {
} */
.footer__nav__links {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
	width: 100%;

	font-family: Barlow-Semi-Bold;
	font-size: 2rem;
}
.footer__nav__links > *:not(:last-child) {
	margin-right: 2rem;
}
.footer__icons {
	/* width: 15%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__icons > *:not(:last-child) {
	margin-right: 2rem;
}
.attribution {
	font-size: 1.35rem;
	text-align: center;

	& a {
		color: var(--Soft-red);
		text-decoration: none;
	}
}
/* Class for toggling display */
.toggle-display {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 48em) {
	/* display:none */
	.header__menu {
		padding: 2.5rem 2.3rem;
		/* padding: 0; */
		width: 100%;
		margin: auto;
	}
	.header__nav {
		display: none;
	}
	.header__nav__icon-container {
		display: block;
		/* position:relative;
		top:5%;
		right:5%;
		transform:translate(50%,-50%) */
	}
	.mobile__menu {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	/* SERVICES */
	.services {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		grid-auto-flow: row;
	}
	.services > *:first-child {
		grid-row: 2/3;
	}
	.services__item-detail {
		width: 80%;
	}
	/* TESTIMONIALS STYLES */
	.testimonials {
		justify-content: flex-start;
	}
	.testimonials__title {
		/* margin-bottom: 0; */
		margin-top: 4.5rem;
	}
	.testimonial__profile-container {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
	}
	/* FOOTER */
	.footer__pictures {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 30em) {
	.footer__pictures {
		grid-template-columns: 1fr;
	}
}
